{% extends 'layouts/base.html' %}
{% block menu_transaction %}selected{% endblock menu_transaction %}
{% block content %}
{% load static %}

{% include 'card_account.html' %}

<div class="min-h-[15px] mt-3 bg-white rounded p-3 ">
   <div class="flex flex-row justify-between items-center">
      <h2 class="text-lg font-bold uppercase ">LISTA DE TRANSAÇÕES</h2>

      <a href="{% url 'abrircreate' %}"
         class="flex flex-row bg-blue-600 hover:bg-blue-700 text-white font-bold uppercase text-center py-2 px-4 rounded w-15 shadow-lg shadow-gray-400">
         <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
          
         <span class="pl-3">ADICIONAR</span>
      </a>
   </div>
   <div class="mt-4">
      <style>
         td, th {
            border: 1px solid #dddddd;
         }
      </style>
      <table class="table-auto w-full">
         <thead>
            <tr  class="bg-gray-400 hover:bg-gray-400">
               <th class="p-2">Descrição</th>
               <th class="p-2">Categoria</th>
               <th class="p-2">Valor</th>
               <th class="p-2">Data</th>
               <!-- <th>Tipo de Transacao</th> -->
               <th class="p-2"></th>
            </tr>
         </thead>
         <tbody>
            {% for transacao in transacaos %}
            <tr class="hover:bg-gray-300">
               <td class="p-2"> {{ transacao.descricao }} </td>
               <td class="p-2"> {{ transacao.categoria.name }} </td>
               <td class="p-2"> {{ transacao.valor }}</td>
               <td class="p-2"> {{ transacao.data }} </td>
               <!-- <td>{%if category.type_transaction %}Despesa {% else %}Receita {% endif %}</td> -->
               <!-- <td> {{ transacao.categoria.type_transaction }}</td>-->
               <td class="flex flex-row justify-evenly p-2">
                  <a href="{% url 'abrirupdate' transacao.id %}">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                     </svg>
                  </a>
                  <a href="{% url 'vdelete' transacao.id %}">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                     </svg>                      
                  </a>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
{% endblock content %}