{% extends 'layouts/base.html' %}
{% block menu_transaction %}selected{% endblock menu_transaction %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'estilo2.css' %}">
</head>

<body>
    <div class="form-container2">
        <h3 id="tit-crudbox">EDITAR TRANSAÇÃO</h3>
        <form action="{% url 'vupdate' transacao.id %}" class="form-crud" method="POST">
            {% csrf_token %}
            <div class="row-form">
                <div class="input">
                    <label for="descricao">Descrição</label>
                    <input type="text" name="descricao" id="descricao" value="{{ transacao.descricao }}" autofocus>
                </div>

                <div class="input">
                    <span>Categoria</span>
                    <select name="categoria" id="categoria">
                    {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                    </select>
                </div>

                <div class="input">
                    <span>Valor</span>
                    <input type="text" name="valor" id="valor" value="{{ transacao.valor }}">
                </div>
            </div>
            <div class="row-form">        
                <div class="input">
                    <button type="submit" id="salvar" class="enviar" name="form-salvar">Salvar</button>
                </div>
            </div>
        </form>
<script>
    document.getElementById("salvar").addEventListener("click", function(){
        var descricao = document.getElementById("descricao").value;
        var valor = document.getElementById("valor").value;
        var categoria = document.getElementById("categoria").value;
        var tipo_transacao = document.getElementsByName("tipo_transacao");
        if (!descricao || !valor || !categoria) {
            alert("Por favor, preencha todos os campos corretamente");
        }
    });
</script>
</body> 
{% endblock content %}


