{% extends 'layouts/base.html' %}
{% block menu_transaction %}selected{% endblock menu_transaction %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="flex-auto p-6" action="{% url 'vupdate' transacao.id %}"  method="POST">
        {% csrf_token %}
        <!-- requerido por normas de segurança do django -->

        <th>Descrição</th>
        <div class="w-64 bg-white shadow rounded">
            <input type="text" value="{{ transacao.descricao }}" name="descricao" id="descricao"><br>
        </div>
        
        <th>Tipo de Transação</th>
        <!--<input type="text" name="tipo_transacao" id="tipo_transacao"><br> -->
        <select name="tipo_transacao" id="tipo_transacao">
            <option value="{{ transacao.tipo_transacao }}" selected >Débito</option>
            <option value="Débito">Débito</option>
            <option value="Crédito">Crédito</option>
        </select><br>
        <th>Valor</th>
        <div class="w-64 bg-white shadow rounded">
            <input type="text" value="{{ transacao.valor }}" name="valor" id="valor"><br>
        </div>


        <button type='submit'>Salvar</button>
    </form>
</body>
</body>
</html>
{% endblock content %}