.container{
    margin-top: 15px;
    border: 1px solid blue;
    padding: 30px;
    height: 75%;
}


.container li{
    color: red;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  tr:hover{
    background-color: rgb(207, 207, 207);
  }

  .editar{
    padding-left: 20px;
    padding-right: 0;
  }

th{
  margin-bottom: 15px;
}