{% extends 'layouts/base.html' %}
{% block menu_budget %}selected{% endblock menu_budget %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'estilo2.css' %}">
</head>

<body>
    <div class="form-container2">
        <h3 id="tit-crudbox">EDITAR ORÇAMENTO</h3>
        <form action="{% url 'update_budget' budget.id %}" class="form-crud" method="POST">
            {% csrf_token %}
            <div class="row-form">
                <div class="input">
                    <label for="descricao">Descrição</label>
                    <input type="text" name="orcamento" id="orcamento" autofocus value="{{ budget.orcamento }}">
                </div>

                <div class="input">
                    <label for="valor">Valor</label>
                    <input type="text" name="valor_limite" id="valor" value="{{ budget.valor_limite }}">
                </div>
            </div>
            <div class="row-form">
                <div class="input">
                    <button type="submit" class="enviar" name="form-salvar">Salvar</button>
                </div>
            </div>
        </form>
</body>

</html> {% endblock content %}