<!DOCTYPE html>
{% extends 'layouts/base.html' %}
{% comment %}{% endcomment %}
{% block menu_category %}selected{% endblock menu_category %}
{% block content %}
    <!-- exibir a id e pessoa selecionada -->
    {{category.name}}

    <form action="{% url 'update' category.id %}" method="POST" >
        <!-- requerido por normas de segurança do django -->
        {% csrf_token %}
        <!-- o value carrega o registro atual -->
        <input type="text" name="name" id="nome" value="{{category.name}}">
        <button type='submit'>Update</button>
    </form>
{% endblock content %}